<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command  patch:after="*[@name=copyto]" name="item:copychildrento" type="Demo.POC.Extension.CopyChildrenTo,Demo.POC.Extension" />
      <command  patch:after="*[@name=moveto]" name="item:movechildrento" type="Demo.POC.Extension.MoveChildrenTo,Demo.POC.Extension" />
    </commands>
  </sitecore>
</configuration>